{##
# set defaults
##}
{% set os_fam_lookup = {
  'RedHat':
  {
    'package': 'unitrends-linux-agent-8.2.0-4.201508272114.x86_64.rpm',
    'backup_server': 'server.domain.tld',
  },
} %}

{% set os_config = os_fam_lookup.get(grains.os_family, {}) %}

{##
# merge the default settings with pillar data
##}
{% set config = salt['pillar.get']('unitrends:agent', default=os_config,merge=True) %}
